In [ ]:
!pip3 install pandas fastparquet

In [4]:
import pandas as pd

splits = {'train': 'train.parquet', 'validation': 'validation.parquet'}
df_train = pd.read_parquet("hf://datasets/coastalcph/tydi_xor_rc/" + splits["train"], engine='fastparquet')
df_val = pd.read_parquet("hf://datasets/coastalcph/tydi_xor_rc/" + splits["validation"], engine='fastparquet')
print(f"Train size: {len(df_train)}, Validation size: {len(df_val)}")

Train size: 15343, Validation size: 3011

In [7]:
df_train.head()

,question,context,lang,answerable,answer_start,answer,answer_inlang
0,উইকিলিকস কত সালে সর্বপ্রথম ইন্টারনেটে প্রথম তথ...,WikiLeaks () is an international non-profit or...,bn,True,182,2006,None
1,দ্বিতীয় বিশ্বযুদ্ধে কোন দেশ পরাজিত হয় ?,The war in Europe concluded with an invasion o...,bn,True,48,Germany,None
2,মার্কিন যুক্তরাষ্ট্রের সংবিধান অনুযায়ী মার্কিন...,Same-sex marriage in the United States expande...,bn,False,-1,no,None
3,আরব-ইসরায়েলি যুদ্ধে আরবের মোট কয়জন সৈন্যের মৃ...,The exact number of Arab casualties is unknown...,bn,True,39,unknown,None
4,বিশ্বে প্রথম পুঁজিবাদী সমাজ কবে গড়ে ওঠে ?,"As Thomas Hall (2000) notes, ""The Sung Empire ...",bn,True,1219,17th century,None

In [19]:
# Print example of a answerable questions context, and a non-answerable question context
answerable_example = df_train[df_train['answerable'] == True].iloc[0]
non_answerable_example = df_train[df_train['answerable'] == False].iloc[0]
print("Answerable example question:\n", answerable_example['question'])
print("Answerable example context:\n", answerable_example['context'])

print("\nNon-answerable example question:\n", non_answerable_example['question'])
print("\nNon-answerable example context:\n", non_answerable_example['context'])

Answerable example question:
 উইকিলিকস কত সালে সর্বপ্রথম ইন্টারনেটে প্রথম তথ্য প্রদর্শন করে ?
Answerable example context:
 WikiLeaks () is an international non-profit organisation that publishes secret information, news leaks, and classified media provided by anonymous sources. Its website, initiated in 2006 in Iceland by the organisation Sunshine Press, claims a database of 10 million documents in 10 years since its launch. Julian Assange, an Australian Internet activist, is generally described as its founder and director. Kristinn Hrafnsson is its editor-in-chief.

Non-answerable example question:
 মার্কিন যুক্তরাষ্ট্রের সংবিধান অনুযায়ী মার্কিন যুক্তরাষ্ট্রে পুরুষ সমকামী বিবাহ কি আইনত বৈধ ?

Non-answerable example context:
 Same-sex marriage in the United States expanded from one state in 2004 to all fifty states in 2015 through various state court rulings, state legislation, direct popular votes, and federal court rulings. Same-sex marriage is also referred to as gay marriage, while the political status in which the marriages of same-sex couples and the marriages of opposite-sex couples are recognized as equal by the law is referred to as marriage equality. The fifty states each have separate marriage laws, which must adhere to rulings by the Supreme Court of the United States that recognize marriage as a fundamental right that is guaranteed by both the Due Process Clause and the Equal Protection Clause of the Fourteenth Amendment to the United States Constitution, as first established in the 1967 landmark civil rights case of "Loving v. Virginia".

In [15]:
# Split train and validation into ar, ko and te based on the lang column
df_ar_train = df_train[df_train['lang'] == 'ar']
df_ko_train = df_train[df_train['lang'] == 'ko']
df_te_train = df_train[df_train['lang'] == 'te']

df_ar_val = df_val[df_val['lang'] == 'ar']
df_ko_val = df_val[df_val['lang'] == 'ko']
df_te_val = df_val[df_val['lang'] == 'te']

print(f"Arabic train size: {len(df_ar_train)}, validation size: {len(df_ar_val)}")
print(f"Korean train size: {len(df_ko_train)}, validation size: {len(df_ko_val)}")
print(f"Telugu train size: {len(df_te_train)}, validation size: {len(df_te_val)}")

Arabic train size: 2558, validation size: 415
Korean train size: 2422, validation size: 356
Telugu train size: 1355, validation size: 384

In [16]:
# Print the first row of each dataframe
print("Arabic train first row:")
print(df_ar_train.iloc[0])
print("\nKorean train first row:")
print(df_ko_train.iloc[0])
print("\nTelugu train first row:")
print(df_te_train.iloc[0])

Arabic train first row:
question                متى تدخلت روسيا في  الحرب الأهلية السورية؟
context          The Russian military intervention in the Syria...
lang                                                            ar
answerable                                                    True
answer_start                                                    67
answer                                              September 2015
answer_inlang                                                 None
Name: 11213, dtype: object

Korean train first row:
question                                         30년 전쟁의 승자는 누구인가?
context          The conflict between France and Spain continue...
lang                                                            ko
answerable                                                    True
answer_start                                                    21
answer                                                      France
answer_inlang                                                 None
Name: 4792, dtype: object

Telugu train first row:
question         ప్రపంచంలో  మొట్టమొదటి దూర విద్య విద్యాలయం ఏ దే...
context          Referred to as "People's University" by Charle...
lang                                                            te
answerable                                                    True
answer_start                                                   236
answer                                                      London
answer_inlang                                                 None
Name: 13771, dtype: object

In [17]:
# Word count of the question column in the train and validation sets for each language
df_ar_train['question_word_count'] = df_ar_train['question'].apply(lambda x: len(x.split()))
df_ar_val['question_word_count'] = df_ar_val['question'].apply(lambda x: len(x.split()))

df_ko_train['question_word_count'] = df_ko_train['question'].apply(lambda x: len(x.split()))
df_ko_val['question_word_count'] = df_ko_val['question'].apply(lambda x: len(x.split()))

df_te_train['question_word_count'] = df_te_train['question'].apply(lambda x: len(x.split()))
df_te_val['question_word_count'] = df_te_val['question'].apply(lambda x: len(x.split()))

/var/folders/rc/g6hbpj9x7fzfptshgk1vqn9m0000gp/T/ipykernel_8184/2488896649.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ar_train['question_word_count'] = df_ar_train['question'].apply(lambda x: len(x.split()))
/var/folders/rc/g6hbpj9x7fzfptshgk1vqn9m0000gp/T/ipykernel_8184/2488896649.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ar_val['question_word_count'] = df_ar_val['question'].apply(lambda x: len(x.split()))
/var/folders/rc/g6hbpj9x7fzfptshgk1vqn9m0000gp/T/ipykernel_8184/2488896649.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ko_train['question_word_count'] = df_ko_train['question'].apply(lambda x: len(x.split()))
/var/folders/rc/g6hbpj9x7fzfptshgk1vqn9m0000gp/T/ipykernel_8184/2488896649.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ko_val['question_word_count'] = df_ko_val['question'].apply(lambda x: len(x.split()))
/var/folders/rc/g6hbpj9x7fzfptshgk1vqn9m0000gp/T/ipykernel_8184/2488896649.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_te_train['question_word_count'] = df_te_train['question'].apply(lambda x: len(x.split()))
/var/folders/rc/g6hbpj9x7fzfptshgk1vqn9m0000gp/T/ipykernel_8184/2488896649.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_te_val['question_word_count'] = df_te_val['question'].apply(lambda x: len(x.split()))